<h1>Test Delete Modal</h1>

<button type="button" 
    data-action="click->delete-confirmation#show"
    data-delete-url="/admin/users/1"
    data-delete-message="Are you sure you want to delete this test item?"
    class="bg-red-600 text-white px-4 py-2 rounded">
  Test Delete Button
</button>
